header{
    position: sticky;
    top: 0;
}
main{
    height: 800px;
    background-color: #D8EFD3;
}
.col-12{
    padding: 50px;
    align-items: center;
}
form{
    height: 500px;
    
}
.col-5{
    border-radius: 10px;
    background-color: #95D2B3;
}
.col-7{
    border-radius: 10px;
    background-color: #55AD9B;
}
.btn{
    color: black;
    font-weight: 500;
    background-color: #95D2B3;
}

footer{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);;
}