h2{
    font-size: 30px;
    font-family: cursive;
    color:teal;
    font-weight: 600;
}
p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 10;
}
body{
    max-height: 600px;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
main{
    height: 800px;
    background-color: #BB9CC0;
}
.col-6{
    overflow: auto;
    background-color: #FED9ED;
    border-radius: 20px;
    margin:auto; 
    vertical-align: top; 
    padding-top: 10px;
    padding-bottom: 143px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 330px;
    
}
.col-3{
    background-color: #FED9ED;
    border-radius: 20px;
    
}
.card-img-top{
    max-height: 90px; 
    z-index: 900;
}
.col-12{
    background-color: #FED9ED;
    border-radius: 20px;
    max-height: 330px;

    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    
    max-height: 300px;
}
footer{
    height: 100px;
    background-color: #E7BCDE;
}